body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #333;
}

.frame {
  width: auto%;
  height: auto%;
  overflow: hidden;
}

.controlbar {
  width: 100%;
  height: 30px;
  position:fixed;
  bottom: 0;
  background: #FFF;
}

.controlbutton.left {
  display: block;
  padding: 6px 5px;
  float: left;
  background:#FFF;
  text-decoration: none !important;
  color:#000;
  border: 1px solid transparent;
  border-radius: 4px;
}

.controlbutton.left:hover {
  display: block;
  padding: 6px 5px;
  float:left;
  background:#555;
  text-decoration: none !important;
  color:#000;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.controlbutton.right {
  display: block;
  padding: 6px 5px;
  float:right;
  background:#FFF;
  text-decoration: none !important;
  color:#000;
  border: 1px solid transparent;
  border-radius: 4px; 
}

.controlbutton.right:hover {
  display: block;
  padding: 6px 5px;
  float:right;
  background:#555;
  text-decoration: none !important;
  color:#000;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.progressbar {
  display: inline-block;
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px 3px;
}

.progressbar > div {
   background-color: orange;
   width: 100%; /* Adjust with JavaScript */
   height: 10px;
   border-radius: 10px;
}

.fitVertical {
  max-height: 100%;
  width: auto;
}

.spread2 .fitHorizontal {
  height: auto;
  max-width: 50%;        
}

.spread1 .fitHorizontal {
  height: auto;
  max-width: 100%;
}

.fitBoth {
  max-height: 100%;
}

.spread1 .fitBoth {
  max-width: 100%;
}

.spread2 .fitBoth {
  max-width: 50%;
}

.overlay {
    z-index:100;
    position:fixed;    
    color:white;
    font-size:24px;
    font-weight:bold;
    top:0;
    left:25;
    background-color: #000;
    opacity: 0.4;
}