<!DOCTYPE html>
<html data-ng-app="comicviewer" data-ng-csp="">

<head>
    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/material-icons.css">
    <script type="application/javascript" src="js/jquery/jquery.min.js"></script>
    <script type="application/javascript" src="js/angular/angular.min.js"></script>
    <script type="application/javascript" src="js/angular/angular-aria.min.js"></script>
    <script type="application/javascript" src="js/angular/angular-animate.min.js"></script>
    <script type="application/javascript" src="js/angular/angular-material.min.js"></script>
    <script type="application/javascript" src="js/angular/angular-messages.min.js"></script>
    <script type="application/javascript" src="js/bitjs/archive.js"></script>
    <script type="application/javascript" src="js/gallary.js"></script>
    <script type="application/javascript" src="js/app.js"></script>
    <base target="_blank">
</head>

<body data-ng-controller="MainCtrl" data-ng-init="init()">
    <div layout="row" flex>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools docs-toolbar-tools">
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="openNav()">
                    <i class="material-icons">menu</i>
                    <div class="md-ripple-container"></div>
                </button>
                <h3>{{ file.name }}</h3>
            </div>
        </md-toolbar>
        <md-sidenav class="md-sidenav-left" md-component-id="main" md-whiteframe="4">
            <md-toolbar class="md-hue-2">
                <h1 class="md-toolbar-tools">Comic Viewer</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-button ng-click="openFile()" class="md-primary">Open</md-button>
                </br>
                <md-button ng-click="showAlert()" class="md-primary">About</md-button>
                </br>
                <md-button ng-click="closeApp()" class="md-primary">Close</md-button>
                <md-divider></md-divider>
                <md-checkbox ng-model="autoFit" aria-label="AutoScale">
                    <md-tooltip md-direction="right">Fit pages when you switch to a new page</md-tooltip>
                    Auto Scale
                </md-checkbox>
            </md-content>
        </md-sidenav>
    </div>
    <div class="container" ng-if="loading.extracting">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <md-content flex="100" layout-align="center">
        <md-content layout-align="center" ng-show="gallaryMode">
            <image-gallary
                reset="reset"
                images="images"
                fit="fit"
                next="next"
                prev="prev"
                zoomin="zoomIn"
                zoomout="zoomOut"
                topage="toPage"
                zoommax="zoomMax"
                autofit="autoFit"
                getshortcuts="getShortcuts"
                setshortcuts="setShortcuts"
            ></image-gallary>
        </md-content>
    </div>
</body>

</html>
