<!DOCTYPE html>
<html data-ng-app="comicviewer" data-ng-csp="">

<head>
    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="application/javascript" src="js/angular/angular.min.js"></script>
    <script type="application/javascript" src="js/angular/angular-aria.min.js"></script>
    <script type="application/javascript" src="js/angular/angular-animate.min.js"></script>
    <script type="application/javascript" src="js/angular/angular-material.min.js"></script>
    <script type="application/javascript" src="js/angular/angular-messages.min.js"></script>
    <script type="application/javascript" src="js/bitjs/archive.js"></script>
    <script type="application/javascript" src="js/app.js"></script>
    <base target="_blank">
</head>

<body data-ng-controller="MainCtrl" data-ng-init="init()">
    <div layout="row" flex>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools docs-toolbar-tools">
                <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="openNav()">
                    <md-icon md-svg-icon="img/icons/ic_menu_24px.svg"></md-icon>
                    <div class="md-ripple-container"></div>
                </button>
                <h3>{{ file.name }}</h3>
            </div>
        </md-toolbar>
        <md-sidenav class="md-sidenav-left" md-component-id="main" md-whiteframe="4">
            <md-toolbar class="md-hue-2">
                <h1 class="md-toolbar-tools">Comic Viewer</h1>
            </md-toolbar>
            <md-content layout-padding>
                <md-button ng-click="openFile()" class="md-primary">
                    Open
                </md-button>
                </br>
                <md-button ng-click="closeApp" class="md-primary">
                    Close
                </md-button>
            </md-content>
        </md-sidenav>
    </div>
    <md-content flex="100" layout-align="center">
        <md-content layout-align="center" ng-repeat="i in images" layout-padding>
            <img ng-src="{{i.image.dataURI}}">
        </md-content>
    </div>
</body>

</html>
